@import 'normalize';
@import 'bourbon/bourbon';

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(//ssl.gstatic.com/fonts/roboto/v9/xypMPkk3qWn0aVtKdo69mQLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}

* {
  box-sizing: border-box;
  font-family: Roboto;
  font-weight: 700;
}

body {
  background-color: #333;
  color: #fff;
  font-size: 14px;
  text-shadow: 0 1px 0 rgba(black, 0.2);
}

img {
  max-width: 100%;
}

#voter-content {
  padding: 16px;
}

.person {
  margin: 0 0 16px;
  @include size(60);
  display: block;
  position: relative;
  border-radius: 50%;
  @include transition(all .4s);
  &.voted {
    box-shadow: 0 0 0 3px #36c444;

    &.visible .picture {
      @include transform(rotateY(180deg));
    }
  }
}

.name {
  display: inline-block;
  position: relative;
  bottom: 39px;
  left: 78px;
  color: white;
  text-shadow: 0 1px 1px rgba(black,0.3);
}

.picture {
  position: relative;
  @include size(60);
  @include transition(all .4s);
  @include transform-style(preserve-3d);
}

/* .person.voted .picture { */
/*   @include animation(pulse .75s infinite alternate, wobble .5s); */
/* } */

.avatar, .back-avatar {
  @include size(60);
  border-radius: 50%;
  display: block;
  position: absolute;
  @include backface-visibility(hidden);
}

.back-avatar {
  @include transform(rotateY(180deg));
  @include backface-visibility(visible);
}

.backface {
  @include transform(rotateY(180deg));
  @include backface-visibility(hidden);
}

.vote { 
  border-radius: 50%;
  text-align: center;
  padding: 10px 0 0;
  @include size(60);
  color: white;
  font-size: 30px;
  position: absolute;
  background: rgba(green, .6);
}

#voters {
  padding: 20px;
  
  &.all-votes-cast .picture {
    @include transform(rotateY(180deg));
  }
}



@include keyframes(pulse) {
  0% {
    box-shadow: 0 0 0 3px rgba(#36c444, 0);
  }
  100% {
    box-shadow: 0 0 0 3px rgba(#36c444, 1);
  }
}

@include keyframes(wobble) {
  0% {
    @include transform(rotate(0deg));
  }

  20%,60% {
    @include transform(rotate(8deg));
  }

  40%,80% {
    @include transform(rotate(-8deg));
  }

  100% {
    @include transform(rotate(0deg));
  }
}

#voting-booth {
  position: fixed;
  bottom: 0;
  @include size(100% 100);
  padding: 10px;
}

#vote-form {
  margin: 0 0 10px;
}

#my-vote {
  @include size(135 36);
  outline: none;
  border: none;
  border-radius: 2px;
  margin: 0 10px 0 0;
  text-align: center;
  
  @include placeholder{
    color: #d1d1d1;
  }
}

#submit-vote {
  @include size(135 36);
  color: white;
  border: none;
  border-radius: 2px;
  margin: 0;
  outline: none;
  background: #4682ea;
  text-shadow: 0 1px 0 rgba(black, 0.2);
  box-shadow: 0 1px 2px rgba(black, 0.3);
}

#clear-all {
  @include size(100% 36);
  color: white;
  border-radius: 2px;
  border: none;
  outline: none;
  box-shadow: 0 1px 2px rgba(black, 0.3);
  text-shadow: 0 1px 0 rgba(black, 0.2);
  @include linear-gradient(#cf493c, #db4b3e);
  
  opacity: .5;
  @include transition(opacity .4s);
  pointer-events: none;
  
  &.all-votes-cast {
    pointer-events: auto;
    opacity: 1;
  }
}

