<html>
  <head>
    <link rel="stylesheet" type="text/css"
          href="https://dl.dropboxusercontent.com/u/108659/estimation_party/css/app.css" />
  </head>

<body>
  <div id="voter-content"></div>

  <script id="js-hangout" type="text/javascript"
          src="//plus.google.com/hangouts/_/api/v1/hangout.js"></script>
  <script id="js-app" type="text/javascript"
          src="https://dl.dropboxusercontent.com/u/108659/estimation_party/js/app.dev.js"></script>

  <script id="js-initialize" type="text/javascript">
    voter.core.run();
  </script>

</body>
</html>
